.receita{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    
    
}

.receita:hover{
    border: 3px solid #c78c19;
    
} 

@media  screen and (min-width: 0) {
    .receita{
        margin-right: 1rem;
        width: 100%;
        
    }
}

@media  screen and (min-width: 768px) {
    .receita{
        margin-right: 2.5rem;
        width: calc(30% - 2.5rem );
    }
}

@media  screen and (min-width: 992px) {
    .receita{
        margin-right: 5rem;
        width: calc(25% - 5rem - 3px);
    }
}